# ansible.cfg
[defaults]
inventory         = inventory/hosts.ini
roles_path        = roles
remote_user       = ubuntu
host_key_checking = false
stdout_callback   = yaml
callbacks_enabled = timer, profile_tasks

[privilege_escalation]
become       = true
become_method = sudo
become_user  = root
